[submodule "external/krkrz"]
	path = external/krkrz
	url = ../krkrz
[submodule "external/SamplePlugin"]
	path = external/SamplePlugin
	url = ../SamplePlugin
[submodule "external/KAGParser"]
	path = external/KAGParser
	url = ../KAGParser
[submodule "external/ncbind"]
	path = external/ncbind
	url = ../ncbind
