<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>{{page.title}}</title>
{% feed_meta %}
<link rel="stylesheet" href="/assets/css/styles.css" type="text/css" />
<link rel="icon" type="image/svg" href="/assets/img/krkr.svg" />
<meta property="og:image" content="https://krkrsdl2.github.io/krkrsdl2/assets/img/krkr.png" />
<meta property="og:type" content="website" />
<meta name="twitter:card" content="summary" />
<meta name="twitter:title" content="{{ page.title }}" />
<meta name="twitter:image" content="https://krkrsdl2.github.io/krkrsdl2/assets/img/krkr.png" />
</head>
<body>
<a name="top"></a>
<div id="container">
<div id="title-banner"><h1>{{page.title}}</h1></div>

<div class="content">
{{content}}
<br />
</div>
</div>
</body>
</html>
